.product-detail {
  display: flex;
  gap: 40px;
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  box-sizing: border-box;
  
}

.product-image img {
  max-width: 400px;
  border-radius: 10px;
}

.product-info {
  max-width: 600px;
}

.product-info h2 {
  font-size: 28px;
  color: #111;
  margin-bottom: 1px;
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.price .current {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.price .original {
  font-size: 16px;
  color: gray;
  text-decoration: line-through;
}

.description {
  color: #555;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 20px
}

